.app-background {
  background-image: url("header-background.png");
  background-color: #1e2027;
  background-repeat: repeat-x;
  min-height: 100vh;
}

.header-logo {
  height: 75px;
  width: 260px;
}

.input-grp-city {
  width: 520px;
  margin-top: 30px;
}

.btn-add-city {
  background-color: #6c5dd3;
  color: white;
  border-radius: 5px;
}

.input-add-city {
  background-color: #1f2128 !important;
  border-color: #1f2128;
  color: white !important;
}
